<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		
		<input name="username" placeholder="Enter your name here" v-model="Userinput">
		<h1 v-if="isActive && Userinput === name">
			<p style="color: green">
				Access Granted welcome Mr/Ms {{Userinput}}
			</p>
		</h1>
		<h1 v-else-if="isActive && Userinput !== name">
			<p style="color: red">
				Access Denied Sorry Mr/Ms {{Userinput}}
			</p>
		</h1>
		<h1 v-else>
			<p></p>
		</h1>
	
	</div>
<script>
	new Vue({
	el:'#app',
	data:{
		name:'Yeansovanvathana',
		isActive:true,
		Userinput:''
	}
})
</script>
</body>
</html>